@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
/* import font: Kosugi Maru, from google fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #333;
    min-height: 100%;
} 

main {
    display: flex; 
    flex-wrap: wrap; 
    font-size: 1.6rem;
    padding: 20px;
    gap: 40px;
}

h1 {
    margin: 2rem auto;
}

h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}
/* 
h3 {
    font-size: 1.2rem;
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
} */

footer{
    position: fixed;
    background-color: #333;
    color: #eee;
    bottom: 0;  
}

figcaption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: square;
    padding: 1%;
}

li {
    flex: 1;
    margin: 0 0 0 1rem;
    padding: 5px;
    font-size: 1rem;  
}

::marker{
    margin-right: 8px;
    display: inline-block;
    color: hsl(261, 76%, 38%);
}

/* li::before {
    content: "■";
    color: hsl(261, 76%, 38%);
    margin-right: 8px;
    display: inline-block;
} */

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover, a:focus{
    /* color:dodgerblue */
    opacity: 0.8;
    text-decoration: underline;
}

.image-section {
    flex: 0.8; 
    min-width: 300px;
}

.image-section img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.profile-section {
    flex: 1;
    min-width: 300px; 
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.profile-details {
    background-color: yellowgreen;
    padding: 0;
}

.labels {
    display: inline-block;
    min-width: 80px;
    /* vertical-align: top; */
    font-weight: 400;
}

.values {
    font-family: "Kosugi Maru";
    font-weight: 400;
    display: inline-block;
}

.company-label {
    background-color: #4387d4d2;
    color: #180e0a; 
    padding: 5px;
    font-size: 0.7rem;
    display: inline-block; 
}

.quote {
    font-style: italic;
    font-size: 2rem;
    text-decoration: line-through;
}

.nowrap {
    white-space: nowrap;
    font-size: 1.5rem;
    float: right;
    position: relative;
    bottom: -2rem;
}
